.main-container {
	position: relative;
}

.results tbody tr {
	cursor: pointer;
}

.lesser-opacity {
	opacity: 0.6;
}

.spinner:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 30%;
	left: 50%;
	height: 80px;
	width: 80px;
	margin-top: -40px;
	margin-left: -40px;
	border-radius: 50%;
	border-top: 12px solid #007bff;
	border-right: 12px solid transparent;
	animation: spin 0.7s linear infinite;
	z-index: 100;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}